body {
    background-color:whitesmoke;
}

.nav {
    background-color: cadetblue;
    color:darkblue;
    border: 1px;
    border-radius: 1%;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 300px;
}

#left {
    width: 15%;
    height: 900px;
    float:left;
}

#mid {
    width: 65%;
    margin: 0 auto;
    background-color: antiquewhite;
    height: 900px;
}

#right {
    background-color: chartreuse;
    width: 20%;
    height: 900px;
    float:right;
}
