body {
    background-color:whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.nav {
    background-color: cadetblue;
    color:darkblue;
    border: 1px;
    border-radius: 1%;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 300px;
}

.left {
    flex: 1;
    height: 1000px;
}

.middle {
    flex: 1;
    background-color: antiquewhite;
    height: 1000px;
}

.right {
    flex: 1;
    background-color: chartreuse;
    height: 1000px;
}
